nav {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 65px;
  -webkit-box-shadow: 0px 26px 42px 9px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 26px 42px 9px rgba(0, 0, 0, 0.5);
}

.search-box {
  width: 30vw;
}

.search-box input {
  width: 100%;
  height: 1.9rem;
  padding-left: 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: rgba(255, 245, 245, 0.2);
  cursor: text;
}

.search-box input:focus {
  background-color: #fff;
  color: #000;
}

.search-box input::placeholder {
  font-size: 0.8rem;
}

.nav-icon {
  display: none;
}

.fa {
  cursor: pointer;
}

.nav-icon .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.nav-icon .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  color: tomato;
}

.logo font {
  color: #fff;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 1rem;
}
.nav-list li {
  position: relative;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 5px 10px;
  margin-left: 20px;
}

.nav-list li:last-child a {
  font-weight: 300;
  padding: 5px 10px;
  background-color: tomato;
  transition: all 0.5s ease-in-out;
  margin-left: 20px;
  border-radius: 2px;
}

.nav-list li a:hover,
.nav-list li a:active {
  background-color: #fff;
  border-radius: 2px;
  color: #000;
  transition: all 0.5s ease-in-out;
}

.search-cart-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 10%;
}

.search-cart-container i {
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
}

.search-cart-container i:hover {
  color: tomato;
}

.fa-bell {
  font-size: 1.2rem;
}

.messages-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fff;
  bottom: 0.6rem;
  right: 0rem;
  background-color: red;
  border-radius: 100%;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 0.7rem;
  font-weight: 500;
  border: 1px solid #fff;
  padding: 0.2rem;
}

@media screen and (max-width: 860px) {
  .logo {
    font-size: 20px;
  }
  .nav-list li a {
    font-size: 14px;
    margin-left: 10px;
  }
  .search-cart-container i {
    font-size: 1rem;
  }
  .search-box {
    display: flex;
    align-items: center;
    width: 45vw;
  }
  .search-box input::placeholder {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 740px) {
  .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-list {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    right: 0;
    top: 64px;
    transition: all 0.5s ease-in-out;
  }

  .nav-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .nav-list li:last-child {
    margin-bottom: 0px;
  }
  .messages-number {
    position: unset;
  }
  .nav-list li a,
  .nav-list li:last-child a {
    width: 100px;
    display: block;
    margin: auto;
  }

  .nav-list li a i {
    position: relative;
  }

  .nav-list li a i p {
    position: absolute;
    bottom: 0.8rem;
    left: 0.4rem;
  }
  .nav-list.close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  .search-box {
    width: 40vw;
  }
  .search-box input {
    font-size: 0.5rem;
    height: 1.7rem;
  }
  .search-box input::placeholder {
    font-size: 0.5rem;
  }
  .search-cart-container i {
    font-size: 0.9rem;
  }
}
